body {
	margin: 20px 0;
}

section {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 0.2em solid #eee;
}

@media (min-width: 992px) {
	section {
		margin-top: 2.5em;
		padding-top: 2.5em;
	}
}

.col {
	margin-top: 20px;
}

.col > span {
	display: block;
	padding: 1em;
	background: #eee;
}

.row:first-child .col:first-child {
	margin-top: 0;
}

.btn-group {
	word-spacing: 0.3em;
}
