$mq-breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 820px,
	lg: 960px
);

@import 'baseguide';

.section {
	position: relative;
	padding-top: 20px;

	@include mq(md) {
		padding-top: 40px;
	}
}

.section__title {
	padding-top: 0.5em;
	border-top: 1px solid #ddd;
}

.section--intro {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid darken(#e3f2ff, 5%);
	background-color: #e3f2ff;

	@include mq(md) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.intro__title {
	font-family: Georgia, serif;
	font-weight: 900;
	font-size: 2.5em;
	color: #243a54;

	.wf-active & {
		font-family: Merriweather, Georgia, serif;
	}

	@include mq(sm) {
		font-size: 3.8em;
	}
}

.intro__text {
	margin-top: 0.8em;

	.btn-group {
		margin-top: 2.5em;
	}

	@include mq(sm) {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2em;
	}
}

.col--feature {
	text-align: center;

	& + & {
		margin-top: 1.5em;
	}

	svg {
		overflow: visible;
	}

	p {
		margin-bottom: 0;
	}

	@include mq(sm) {
		@include column(4);

		& + & {
			margin-top: 0;
		}
	}
}

.feature__title {
	margin-top: 1.2em;
	margin-bottom: 0.2em;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.btn--outline {
	border-color: $button-bg;
	background-color: transparent;
	color: $button-bg;

	&:hover,
	&:focus {
		border-color: $button-hover-bg;
		background-color: $button-hover-bg;
	}
}

.form-group > .btn {
	margin-bottom: 0.2em;
}

.btn-group > .btn {
	margin-left: 0.15em;
	margin-right: 0.15em;
}

.media p {
	margin-bottom: 0;
}

.col__item {
	margin-bottom: $grid-gutter;
	padding: 1em;
	background: #efefef;
}
