.#{$meta-prefix-objects}embed-responsive {
  @if (type-of($embed-ratios) == 'map') {
    $first-key: nth(map-keys($embed-ratios), 1);
    $ratios: map-remove($embed-ratios, $first-key);

    @include aspect-ratio($first-key);

    @each $name, $ratio in $ratios {
      &#{$meta-class-modifier}#{$name} {
        &::before {
          padding-bottom: ratio-to-percentage($ratio);
        }
      }
    }
  }

  position: relative;
  overflow: hidden;

  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
