.#{$meta-prefix-objects}media {
  display: flex;
  align-items: flex-start;
}

.#{$meta-prefix-objects}media#{$meta-class-modifier}middle {
  align-self: center;
}

.#{$meta-prefix-objects}media#{$meta-class-modifier}bottom {
  align-self: flex-end;
}

.#{$meta-prefix-objects}media#{$meta-class-element}body {
  flex: 0 1 auto;
}

.#{$meta-prefix-objects}media#{$meta-class-element}left,
.#{$meta-prefix-objects}media#{$meta-class-element}right {
  flex: 0 0 auto;
}

.#{$meta-prefix-objects}media#{$meta-class-element}left {
  padding-right: 1rem;
}

.#{$meta-prefix-objects}media#{$meta-class-element}right {
  order: 1;
  padding-left: 1rem;
}
