.media {
  display: flex;
  align-items: flex-start;
}

.media#{$meta-class-modifier}middle {
  align-self: center;
}

.media#{$meta-class-modifier}bottom {
  align-self: flex-end;
}

.media-body {
  flex: 0 1 auto;
}

.media-left,
.media-right {
  flex: 0 0 auto;
}

.media-left {
  padding-right: 1rem;
}

.media-right {
  order: 1;
  padding-left: 1rem;
}
