////
/// @group global
////

/// Divide two numbers (adapted from Bootstrap)
///
/// @param {Number} $dividend - Dividend
/// @param {Number} $divisor - Divisor
/// @param {Number} $precision [10] - Precision
/// @return {Number} - Result of the division
@function divide($dividend, $divisor, $precision: 12) {
  $sign: if($dividend > 0 and $divisor > 0 or $dividend < 0 and $divisor < 0, 1, -1);
  $dividend: abs($dividend);
  $divisor: abs($divisor);

  @if $dividend == 0 {
    @return 0;
  }

  @if $divisor == 0 {
    @error "Cannot divide by 0";
  }

  $remainder: $dividend;
  $result: 0;
  $factor: 10;

  @while ($remainder > 0 and $precision >= 0) {
    $quotient: 0;

    @while ($remainder >= $divisor) {
      $remainder: $remainder - $divisor;
      $quotient: $quotient + 1;
    }

    $result: $result * 10 + $quotient;
    $factor: $factor * 0.1;
    $remainder: $remainder * 10;
    $precision: $precision - 1;

    @if ($precision < 0 and $remainder >= $divisor * 5) {
      $result: $result + 1;
    }
  }

  @return $result * $factor * $sign;
}
