////
/// @group token
////

/// Get a z-index value from the `$layers` map
///
/// @param {String} $name - Map key of `$layers`
/// @example scss
/// .component {
///   z-index: get-index(below);
/// }
/// @return {Number} z-index value
@function get-index($name) {
  @if map-has-key($layers, $name) {
    $accumulator: nth(map-values($layers), 1);

    @each $key, $val in $layers {
      @if $val == null {
        $accumulator: $accumulator + 1;
        $val: $accumulator;
      } @else {
        @if $val < $accumulator {
          // If the z-index is not greater than the elements preceding it,
          // the whole element-order paradigm is invalidated
          @error "z-index for #{$key} must be greater than the preceding value!";
        }
        $accumulator: $val;
      }

      @if $key == $name {
        @return $accumulator;
      }
    }
  } @else {
    @error "The key `#{$name}` wasn't found in $layers.";
  }
}
