////
/// @group global
////

/// Get an icon from the `$icons` map in the specified color
///
/// @param {String} $icon - Map key of `$icons`
/// @param {String} $color [$color-icon] - Hex color value
/// @example scss
/// .component {
///   background-image: url(get-icon('radio', #fff));
/// }
/// @return {String} Encoded SVG icon string
@function get-icon($icon, $color: $color-icon) {
  $color: inspect($color);

  @if (str-index($color, '#') != null) {
    @if map-has-key($icons, $icon) {
      $icon: 'data:image/svg+xml;charset=utf8,' + map-get($icons, $icon);
      $icon: str-replace($icon, inspect($color-icon), $color);

      @each $char, $encoded in (('<', '%3C'), ('>', '%3E'), ('#', '%23'), ('"', "'")) {
        $icon: str-replace($icon, $char, $encoded);
      }
    } @else {
      @error "Please make sure `#{$icon}` is defined in the $icons map.";
    }
  } @else {
    @error "Please make sure `#{$color}` is a HEX value.";
  }

  @return $icon;
}
