/// Create an aspect ratio box with optional support for dynamic growing content
///
/// @param {String|List} $ratio - Map key of the `$ratios` map or a list formatted as `x by y`
/// @param {Bool} $grow [false] - Enables dynamic growing of the container if true
@mixin aspect-ratio($ratio, $grow: false) {
  @if (type-of($ratio) == 'string' or type-of($ratio) == 'list') {
    $key: map-get($ratios, $ratio);

    @if $key {
      $ratio: ratio-to-percentage($key);
    } @else {
      $ratio: ratio-to-percentage($ratio);
    }
  } @else {
    $ratio: percentage($ratio);
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: $ratio;
  }

  @if $grow {
    @include clearfix;

    &::before {
      float: left;
    }
  }
}
