// Removes browser default button styles
@mixin button-unstyled {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
}

// Generates global base button styles
@mixin button-base(
  $padding-vertical: $button-padding-vertical,
  $padding-horizontal: $button-padding-horizontal,
  $border-width: $button-border-width,
  $border-radius: $button-border-radius,
  $transition: $button-transition,
  $cursor-pointer: $button-cursor-pointer
) {
  display: inline-block;
  vertical-align: middle;
  padding: $padding-vertical $padding-horizontal;
  border: $border-width solid transparent;
  border-radius: $border-radius;
  transition: $transition;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  user-select: none;
  touch-action: manipulation;

  @if ($cursor-pointer) {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}

// Generates button variations
@mixin button-variations($variations: $button-variations) {
  $first-key: nth(map-keys($variations), 1);
  $variations: map-remove($variations, $first-key);

  #{$button-selector} {
    @include config-variation($button-variations, $first-key);

    @each $key, $value in $variations {
      &#{$meta-class-modifier}#{$key} {
        @include config-variation($button-variations, $key);
      }
    }
  }
}
