////
/// @group global
////

/// Accessible fade in transition
///
/// @param {Number} $duration [duration()] - Default duration token
@mixin fade-in($duration: duration()) {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s easing(linear) 0s, opacity $duration;
}

/// Accessible fade out transition
///
/// @param {Number} $duration [duration()] - Default duration token
@mixin fade-out($duration: duration()) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s easing(linear) $duration, opacity $duration;
}
