@use 'sass:list';
@use 'sass:map';


// Micro Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}


// Creates an aspect ratio box with optional support for growing content
// @param {String|List} $ratio - Can be a key from the $embed-ratios map or a list formatted as `x by y`
// @param {Bool} $grow - Output styles to enable container growing if it has more content
@mixin aspect-ratio($ratio: base, $grow: false) {
  @if (type-of($ratio) == 'string' or type-of($ratio) == 'list') {
    $key: map-get($embed-ratios, $ratio);

    @if $key {
      $ratio: ratio-to-percentage($key);
    }
    @else {
      $ratio: ratio-to-percentage($ratio);
    }
  }
  @else {
    $ratio: percentage($ratio);
  }

  &::before {
    content: '';
    display: block;
    padding-bottom: $ratio;
  }

  @if $grow {
    @include clearfix;

    &::before {
      float: left;
      width: 1px;
      margin-left: -1px;
    }
  }
}


// Old school way of hiding text. Better use sr-only with an additional <span>.
@mixin text-hide {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  text-shadow: none;
}

// Truncate text using ellipsis (single-line)
@mixin text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Activate hyphenation with fallbacks. Make sure to set the lang attribute on the <html> tag.
@mixin text-hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}


// Hide content accessibly
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

// Undo styles from sr-only
@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: inherit;
  }
}


// Beautiful underline with control over text spacing
@mixin underline($color: currentColor, $distance: 0, $width: 100%, $height: 1px) {
  padding-bottom: $distance;
  background-image: linear-gradient($color, $color);
  background-size: $width $height;
  background-position: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
}


// Target HiDPI screens
@mixin hidpi($ratio: 1.5) {
  @media (min-resolution: round($ratio * 96dpi)), (min-resolution: $ratio * 1dppx) {
    @content;
  }
}


// Scale headings using modular scale
@mixin scale-headings($scale: $type-scale-base, $headings: $headings, $breakpoints: $headings-breakpoints) {
  $max-scale: 0;
  $sizes: $scale;

  @each $heading in $headings {
    #{$heading} {
      @if (type-of($scale) == 'map') {
        @each $key, $value in $scale {
          $sizes: map-remove($sizes, $key);
          $sizes: map-merge($scale, ($key: modular-scale($max-scale, $value)));
        }
      }
      @else {
        $sizes: modular-scale($max-scale, $scale);
      }

      @include fluid-calc('font-size', $sizes, $breakpoints);
    }

    $max-scale: $max-scale + 1;
  }
}


// Accessible fade in and fade out transitions
@mixin fade-in($duration: 0.15s) {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity $duration;
}

@mixin fade-out($duration: 0.15s) {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear $duration, opacity $duration;
}


// Triangle mixin adapted from bourbon
@mixin triangle($direction, $width, $height, $color: currentColor) {
  border-style: solid;
  height: 0;
  width: 0;

  @if $direction == 'up' {
    border-color: transparent transparent $color;
    border-width: 0 ($width / 2) $height;
  }
  @else if $direction == 'up-right' {
    border-color: transparent $color transparent transparent;
    border-width: 0 $width $width 0;
  }
  @else if $direction == 'right' {
    border-color: transparent transparent transparent $color;
    border-width: ($height / 2) 0 ($height / 2) $width;
  }
  @else if $direction == 'down-right' {
    border-color: transparent transparent $color;
    border-width: 0 0 $width $width;
  }
  @else if $direction == 'down' {
    border-color: $color transparent transparent;
    border-width: $height ($width / 2) 0;
  }
  @else if $direction == 'down-left' {
    border-color: transparent transparent transparent $color;
    border-width: $width 0 0 $width;
  }
  @else if $direction == 'left' {
    border-color: transparent $color transparent transparent;
    border-width: ($height / 2) $width ($height / 2) 0;
  }
  @else if $direction == 'up-left' {
    border-color: $color transparent transparent;
    border-width: $width $width 0 0;
  }
}


// Loops all breakpoints and outputs @content
@mixin loop-breakpoints($breakpoints: $mq-breakpoints, $inclusive: true, $mq: true) {
  $breakpoint-keys: map-keys($breakpoints);

  @for $i from 1 through length($breakpoint-keys) {
    $breakpoint: nth($breakpoint-keys, $i) !global;
    $is-first-breakpoint: $breakpoint == nth($breakpoint-keys, 1) !global;
    $is-last-breakpoint: $breakpoint == nth($breakpoint-keys, length($breakpoint-keys)) !global;

    @if $mq {
      @if $inclusive {
        // first breakpoint
        @if $is-first-breakpoint {
          @content;
        }
        // remaining breakpoints
        @else {
          @include mq($breakpoint, $breakpoints: $breakpoints) {
            @content;
          }
        }
      }
      @else {
        // first breakpoint
        @if $is-first-breakpoint {
          @if length($breakpoint-keys) > 1 {
            @include mq($until: nth($breakpoint-keys, $i + 1), $breakpoints: $breakpoints) {
              @content;
            }
          }
          @else {
            @content;
          }
        }
        // last breakpoint
        @else if $is-last-breakpoint {
          @include mq($breakpoint, $breakpoints: $breakpoints) {
            @content;
          }
        }
        // remaining breakpoints
        @else {
          @include mq($breakpoint, nth($breakpoint-keys, $i + 1), $breakpoints: $breakpoints) {
            @content;
          }
        }
      }
    }
    @else {
      @content;
    }
  }
}


// Generates min, max and fluid in-between values for given CSS property

// @param {String} $prop - Any CSS property
// @param {Map|Number} $sizes - Map of sizes formatted as (min: x, max y)
// @param {Map} $breakpoints - Map of named breakpoints from $mq-breakpoints or custom px values formatted as (min: x, max: y)
// @param {Bool} $negative - Negates the values if true
// @param {Bool} $important - Adds important flag if true

// Usage example:
//
// body {
//   @include fluid-calc('font-size', (min: 1rem, max: 1.25rem), (min: 400px, max: 960px));
// }
@mixin fluid-calc($prop, $sizes, $breakpoints: $fluid-breakpoints, $negative: false, $important: false) {
  $min-size: null;
  $max-size: null;
  $min-breakpoint: map-get($breakpoints, 'min');
  $max-breakpoint: map-get($breakpoints, 'max');
  $multiplicand: 1;

  @if (type-of($sizes) == 'map') {
    $min-size: map-get($sizes, 'min');
    $max-size: map-get($sizes, 'max');
  }
  @else if (type-of($sizes) == 'list') {
    $min-size: nth($sizes, 1);
    $max-size: nth($sizes, 2);
  }
  @else if (type-of($sizes) == 'number') {
    $min-size: $sizes;
  }

  @if map-has-key($mq-breakpoints, $min-breakpoint) {
    $min-breakpoint: map-get($mq-breakpoints, $min-breakpoint);
  }

  @if map-has-key($mq-breakpoints, $max-breakpoint) {
    $max-breakpoint: map-get($mq-breakpoints, $max-breakpoint);
  }

  @if $negative == true {
    $multiplicand: -1;
  }

  @if $important == true {
    $important: unquote('!important');
  }
  @else {
    $important: null;
  }

  @if $min-size {
    $min-size: to-rem($min-size);

    #{$prop}: $min-size * $multiplicand $important;

    @if $max-size and $min-breakpoint and $max-breakpoint {
      $max-size: to-rem($max-size);

      @if $fluid-scaling {
        @include mq($min-breakpoint) {
          #{$prop}: calc((#{$min-size} + #{strip-unit($max-size - $min-size)} * (100vw - #{to-rem($min-breakpoint)}) / #{strip-unit(to-rem($max-breakpoint) - to-rem($min-breakpoint))}) * #{$multiplicand}) $important;
        }
      }

      @include mq($max-breakpoint) {
        #{$prop}: $max-size * $multiplicand $important;
      }
    }
  }
}


// Wrapper for fluid-calc that gets spacings from the map $spacings-sizes

// Usage example:
//
// .example {
//   @include fluid-spacing('margin-bottom', 'base');
// }
@mixin fluid-spacing($prop, $size, $breakpoints: $fluid-breakpoints, $negative: false, $important: false) {
  @if (type-of($size) == 'string') {
    $size: map-get($spacings, $size);

    @if not $size {
      @error "The spacing #{$size} wasn't found in map $spacings-sizes.";
    }
  }

  @include fluid-calc($prop, $size, $breakpoints, $negative, $important);
}


// Config variation (e.g for buttons)
@mixin config-variation($config, $variation) {
  @each $key, $value in map.get($config, $variation) {
    @if (list.index(('hover', 'focus', 'active'), $key)) {
      &:#{$key} {
        @each $pseudo-key, $pseudo-value in $value {
          #{$pseudo-key}: $pseudo-value;
        }
      }
    }
    @else if (list.index(('before', 'after'), $key)) {
      &::#{$key} {
        @each $pseudo-key, $pseudo-value in $value {
          #{$pseudo-key}: $pseudo-value;
        }
      }
    }
    @else if ($key == 'disabled') {
      &:disabled,
      &.disabled {
        @each $disabled-key, $disabled-value in $value {
          #{$disabled-key}: $disabled-value;
        }
      }
    }
    @else {
      #{$key}: $value;
    }
  }
}
