////
/// @group grid
////

/// Output margin or padding gutter depending on the type
///
/// @param {Number|Map} $gutter [$grid-gutter] - The amount of gutter as a number or sizing map formatted as `(min: 30px, max: 60px)`
/// @param {String} $prop ['gap'] - Property to use for the gutter ('gap', 'margin' or 'padding')
@mixin gutter($gutter: $grid-gutter, $prop: 'gap') {
  $negative: false;

  @if ($prop == 'margin') {
    $negative: true;
  }

  @if ($prop != 'gap') {
    $gutter: get-half-sizing($gutter);

    @include loop-variation($gutter, #{$prop}-left, $negative: $negative);
    @include loop-variation($gutter, #{$prop}-right, $negative: $negative);
  } @else {
    @include loop-variation($gutter, $prop, $negative: $negative);
  }
}
