/// Generate styles for an inline list
///
/// @param {Number|String} $spacing [1rem] - The amount of space between list items as a number or map key of `$token-spacings`. Beware that large spacing values can affect the clickability of nearby elements in some cases.
/// @param {Bool} $center [false] - Centers the list if true
/// @param {String} $child-selector ['li'] - Any valid CSS selector
@mixin list-inline($spacing: 1rem, $center: false, $child-selector: 'li') {
  @include list-unstyled;
  @include spacing('margin-left', $spacing, $negative: true);
  @include spacing('margin-bottom', $spacing, $negative: true);

  display: flex;
  flex-wrap: wrap;

  @if $center {
    justify-content: center;
  }

  > #{$child-selector} {
    @include spacing('margin-left', $spacing);
    @include spacing('margin-bottom', $spacing);
  }
}
