@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin list-inline($spacing: 1rem, $center: false, $child-selector: 'li') {
  @include list-unstyled;
  @include fluid-spacing('margin-left', $spacing, true);

  display: flex;
  flex-wrap: wrap;

  @if $center {
    justify-content: center;
  }

  > #{$child-selector} {
    @include fluid-spacing('margin-left', $spacing);
  }
}
