////
/// @group variation
////

/// Output CSS properties and resolve selectors key or sizing map
///
/// @param {String} $key
/// @param {String|Number|Color|Map} $value
@mixin output-props($key, $value) {
  @if ($key == 'selectors') {
    @each $selector-key, $selector-value in $value {
      #{$selector-key} {
        @each $deep-key, $deep-value in $selector-value {
          #{$deep-key}: $deep-value;
        }
      }
    }
  } @else if (is-sizing-map($value)) {
    @include fluid-calc($key, $value);
  } @else {
    #{$key}: $value;
  }
}
