////
/// @group typography
////

/// Scale headings using modular scale
///
/// @param {Number} $scale [$type-scale-base]
/// @param {List} $headings [$headings]
@mixin scale-headings($scale: $type-scale-base, $headings: $headings) {
  $max-scale: 0;

  @each $heading in $headings {
    #{$heading} {
      @if (type-of($scale) == 'map') {
        $sizes: $scale;

        // Replace map values with modular scaled values
        @each $key, $value in $scale {
          $sizes: map-merge(
            $sizes,
            (
              $key: modular-scale($max-scale, $value),
            )
          );
        }

        @include fluid-calc('font-size', $sizes);
      } @else {
        font-size: modular-scale($max-scale, $scale);
      }
    }

    $max-scale: $max-scale + 1;
  }
}
