////
/// @group global
////

/// Beautiful underline with control over text spacing
///
/// @param {String|Color} $color [currentColor] - Color of the underline
/// @param {Number} $distance [0] - Distance from the text
/// @param {Number} $width [100%] - Width of the underline
/// @param {Number} $height [1px] - Thickness of the underline
@mixin underline($color: currentColor, $distance: 0, $width: 100%, $height: 1px) {
  padding-bottom: $distance;
  background-image: linear-gradient($color, $color);
  background-size: $width $height;
  background-position: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
}
