////
/// @group variation
////

/// Generate output for a config variation (e.g button or type)
///
/// @param {Map} $variation-map
/// @param {String} $variation
@mixin use-variation($variation-map, $variation) {
  $config: map-get($variation-map, $variation);

  @if not $config {
    @error "The key `#{$variation}` wasn't found in map $variation-map.";
  }

  @include loop-variation($config);
}
