@function pow($number, $exp) {
  $return: 1;

  @if $exp > 0 {
    // If the exponent is positive then multiply it
    @for $i from 1 through $exp {
      $return: $return * $number;
    }
  }
  @else if $exp < 0 {
    // If the number is 0 or negative then divide it
    @for $i from 1 through -$exp {
      $return: $return / $number;
    }
  }

  @return $return;
}

@function modular-scale($number, $base: $type-scale-base) {
  @return pow($type-scale, $number) * $base;
}

@function strip-unit($number) {
  @return $number / ($number * 0 + 1);
}

@function to-rem($value, $base: 16px) {
  @if (unit($value) == 'em') {
    $value: strip-unit($value) * 1rem;
  }

  @if (unit($value) != 'rem') {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  @if (strip-unit($value) == 0) {
    $value: 0;
  }

  @return $value;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function url-friendly-color($color) {
  @return '%23'+str-slice('#{$color}', 2, -1);
}

/*
  Usage example:
  
  .radio input[type="radio"] {
    ~label::before {
      border-radius: 50%;
    }

    &:checked~label::after {
      background-image: url(get-icon('radio', '#f0f0f0'));
    }
  }
*/

@function get-icon($icon, $color: $text-color) {
  @if(str-index($color, '#') != null) {
    @if map-has-key($icons, $icon) {
      @return str-replace(map-get($icons, $icon), '%23333', url-friendly-colour($color));
    }

    @error "Please make '#{$icon}' is defined in `$icons` map.";
    @return null;
  }

  @error "`$color` has to be HEX-code";
  @return null;
}