.#{$meta-prefix-utilities}order-first {
  order: -1 !important;
}

.#{$meta-prefix-utilities}order-last {
  order: $utility-order-count !important;
}

@for $i from 0 through $utility-order-count {
  .#{$meta-prefix-utilities}order-#{$i} {
    order: $i !important;
  }
}

@include loop-breakpoints($inclusive: false) {
  .#{$meta-prefix-utilities}order-#{$breakpoint}-first {
    order: -1 !important;
  }

  .#{$meta-prefix-utilities}order-#{$breakpoint}-last {
    order: $utility-order-count !important;
  }

  @for $i from 0 through $utility-order-count {
    .#{$meta-prefix-utilities}order-#{$breakpoint}-#{$i} {
      order: $i !important;
    }
  }
}
