.#{$meta-prefix-utilities}small {
  @include type('small');
}

.#{$meta-prefix-utilities}text-left {
  text-align: left !important;
}

.#{$meta-prefix-utilities}text-center {
  text-align: center !important;
}

.#{$meta-prefix-utilities}text-right {
  text-align: right !important;
}

.#{$meta-prefix-utilities}text-hide {
  @include text-hide;
}

.#{$meta-prefix-utilities}text-truncate {
  @include text-truncate;
}

.#{$meta-prefix-utilities}text-hyphenate {
  @include text-hyphenate;
}
