// Generate lists of all buttons
$button-list: assign-inputs($button-selector) !default;
$button-list-hover: assign-inputs($button-selector, hover) !default;
$button-list-focus: assign-inputs($button-selector, focus) !default;
$button-list-active: assign-inputs($button-selector, active) !default;


#{$button-list} {
	display: inline-block;
	vertical-align: middle;
	padding: $button-padding-vertical $button-padding-horizontal;
	border: 1px solid $button-border-color;
	border-radius: $button-border-radius;
	background-color: $button-bg;
	color: $button-color;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&.disabled,
	&[disabled] {
		opacity: $button-disabled-opacity;
		cursor: default;
		pointer-events: none;
	}
}

#{$button-list-hover},
#{$button-list-focus} {
	outline: 0;
	text-decoration: none;
	background-color: $button-hover-bg;
	color: $button-hover-color;
}

#{$button-list-active} {
	background-color: $button-active-bg;
	color: $button-active-color;
}
