.checkbox,
.radio {
  line-height: 1.45;
}

.checkbox input[type="checkbox"],
.radio input[type="radio"] {
  opacity: 0;

  + label {
    position: relative;
    padding-left: 1.4em;
  }

  + label::before {
    content: '';
    position: absolute;
    top: 0.1875em;
    left: 0;
    width: 1em;
    height: 1em;
    border: 1px solid $input-border-color;
    background-color: $input-bg;
    background-repeat: no-repeat;
    background-position: center center;
  }

  + label:hover::before,
  &:focus + label::before {
    border-color: $input-focus-border-color;
  }

  + label:active::before {
    background-color: darken($input-bg, 10%);
  }

  &:disabled + label::before {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-bg;
  }
}

.radio input[type="radio"] + label::before {
  border-radius: 1em;
}

.radio input[type="radio"]:checked + label::before {
  background-image: url($icon-radio);
}

.checkbox input[type="checkbox"]:checked + label::before {
  background-image: url($icon-checkbox);
}

.select {
  select {
    appearance: none;
    padding-right: 2em;
    background-repeat: no-repeat;
    background-position: right center;
    background-position: right $input-padding-horizontal center;
    background-image: url($icon-select);

    &::-ms-expand {
      display: none;
    }

    &:focus::-ms-value {
      background: transparent;
      color: currentColor;
    }
  }
}
