@supports (appearance: none) {
  select {
    appearance: none;
    padding-right: 2em;
    background-repeat: no-repeat;
    background-position: right center;
    background-position: right $input-padding-horizontal center;
    background-image: url($icon-select);
  }

  input[type="radio"],
  input[type="checkbox"] {
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid $input-border-color;
    background-color: $input-bg;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover,
    &:focus {
      outline: 0;
      border-color: $input-focus-border-color;
    }

    &:active {
      background-color: darken($input-bg, 10%);
    }

    &:disabled {
      border-color: $input-disabled-border-color;
      background-color: $input-disabled-bg;
    }

    & + label {
      padding-left: 1.4em;
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:checked {
      background-image: url($icon-radio);
    }
  }

  input[type="checkbox"] {
    border-radius: 0.125em;

    &:checked {
      background-image: url($icon-checkbox);
    }
  }
}
