// Generate variables with a list of all text-based inputs
$all-text-inputs: assign-inputs($inputs-list) !default;
$all-text-inputs-hover: assign-inputs($inputs-list, hover) !default;
$all-text-inputs-focus: assign-inputs($inputs-list, focus) !default;
$all-text-inputs-active: assign-inputs($inputs-list, active) !default;

// Generate variables with a list of all buttons
$all-button-inputs: assign-inputs($buttons-list) !default;
$all-button-inputs-hover: assign-inputs($buttons-list, hover) !default;
$all-button-inputs-focus: assign-inputs($buttons-list, focus) !default;
$all-button-inputs-active: assign-inputs($buttons-list, active) !default;


fieldset {
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

label {
	display: inline-block;
	max-width: 100%;
	font-weight: bold;
}

.form-group {
	margin-bottom: 0.625em;
	
	label {
		padding-top: $input-padding-vertical;
		padding-bottom: $input-padding-vertical;
	}
}

.form-inline {
	label {
		vertical-align: middle;
		padding-top: 0;
		padding-bottom: 0;
	}

	#{$all-text-inputs},
	.form-group,
	.select,
	.checkbox,
	.radio {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 0;
		width: auto;
	}

	.checkbox + .checkbox,
	.radio + .radio {
		margin-left: 1em;
	}
}


// buttons
#{$all-button-inputs} {
	display: inline-block;
	vertical-align: middle;
	padding: $button-padding-vertical $button-padding-horizontal;
	border: 1px solid transparent;
	border-radius: $button-border-radius;
	border-color: $button-border-color;
	background-image: none;
	background-color: $button-bg;
	color: $button-color;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	&.disabled,
	&[disabled] {
		opacity: 0.65;
		cursor: default;
		pointer-events: none;
	}
}

#{$all-button-inputs-hover},
#{$all-button-inputs-focus} {
	outline: 0;
	text-decoration: none;
	background-color: $button-hover-bg;
	color: $button-hover-color;
}

#{$all-button-inputs-active} {
	background-color: $button-active-bg;
	color: $button-active-color;
}


// input controls
#{$all-text-inputs} {
	display: block;
	width: 100%;
	height: $input-height;
	border: 1px solid $input-border-color;
	border-radius: $input-border-radius;
	padding: $input-padding-vertical $input-padding-horizontal;
	background-color: $input-bg;
	color: $input-color;
	transition: border-color 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&[disabled] {
		border-color: $input-disabled-border-color;
		background-color: $input-disabled-bg;
		color: $input-disabled-color;
		cursor: not-allowed;
	}
}

#{$all-text-inputs-focus} {
	border-color: $input-focus-border-color;
	outline: 0;
}

select {
	-webkit-appearance: menulist;
	-moz-appearance: menulist;
	appearance: menulist;

	&[multiple],
	&[size] {
		height: auto;
	}
}

textarea {
	height: auto;
	resize: vertical;
}

.checkbox,
.radio {
	line-height: 1.45;
}

input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	margin-top: 0.25em;
	line-height: normal;

	+ label {
		padding: 0;
		padding-left: 20px;
		font-weight: normal;
		cursor: pointer;
	}

	&[disabled] + label {
		color: $input-disabled-color;
		cursor: not-allowed;
	}
}

input[type="file"] {
	display: block;
}

input[type="search"] {
	box-sizing: inherit;
	-webkit-appearance: none;
}


// placeholder
[placeholder].placeholder {
	color: $placeholder-color;
}

[placeholder]::placeholder {
	color: $placeholder-color;
	opacity: 1;
}


// custom form controls
@if $use-custom-forms {
	.checkbox input[type="checkbox"]:not(:checked),
	.checkbox input[type="checkbox"]:checked,
	.radio input[type="radio"]:not(:checked),
	.radio input[type="radio"]:checked {
		opacity: 0;
		z-index: -1;

		+ label {
			position: relative;
			padding-left: 1.4em;
		}

		+ label:before,
		+ label:after {
			content: ' ';
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		+ label:before,
		+ label:after {
			position: absolute;
			top: 0.1875em;
			left: 0;
			width: 1em;
			height: 1em;
		}

		+ label:before {
			border: 1px solid $input-border-color;
			background-color: #fff;
		}

		&:hover + label:before {
			border-color: $input-focus-border-color;
		}

		&:active + label:before {
			background-color: lighten($input-focus-border-color, 40%);
		}

		&[disabled] + label:before {
			border-color: $input-disabled-border-color;
			background-color: $input-disabled-bg;
		}

		+ label:after {
			opacity: 0;
			transition: opacity 0.15s ease-in-out;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&:checked + label:after {
			opacity: 1;
		}
	}

	input[type="radio"] + label:before {
		border-radius: 1em;
	}

	// use the invisible gradient technique for a css only svg fallback: http://pauginer.com/post/36614680636/invisible-gradient-technique
	input[type="radio"]:checked + label:after {
		/* autoprefixer: off */
		background-image: url($icon-radio-fallback);
		background-image: url($icon-radio), linear-gradient(transparent, transparent);
	}

	input[type="checkbox"]:checked + label:after {
		/* autoprefixer: off */
		background-image: url($icon-checkbox-fallback);
		background-image: url($icon-checkbox), linear-gradient(transparent, transparent),;
	}


	.select {
		position: relative;

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding-right: 2em;
			padding-right: $input-padding-horizontal \9;
		}

		select::-ms-expand {
			display: none;
		}

		select:focus::-ms-value {
			background: transparent;
			color: $input-color;
		}

		&:after {
			@include triangle(0.8em, $input-color, down);
			content: ' ';
			position: absolute;
			z-index: 1;
			top: 50%;
			right: $input-padding-horizontal;
			margin-top: -0.2em;
			pointer-events: none;
			display: none \9;
		}
	}

	// show custom arrow in IE 10+
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		.select:after {
			display: block;
		}

		.select select {
			padding-right: 2em;
		}
	}

	// show custom arrow in Firefox 35+
	@-moz-document url-prefix() {
		/* autoprefixer: off */
		.select:after {
			display: none;
		}

		.select select {
			padding-right: $input-padding-horizontal;
		}

		@supports (filter: opacity(1)) {
			.select:after {
				display: block;
			}

			.select select {
				padding-right: 2em;
			}
		}
	}
}
