// clearfix
.clearfix {
	@include clearfix;
}


// lists
@mixin list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-unstyled {
	@include list-unstyled;
}

@mixin list-inline($spacing: 1em) {
	@include list-unstyled;
	@include clearfix;
	margin-left: -$spacing;

	> li {
		float: left;
		margin-left: $spacing;
	}

	> li > a {
		display: block;
	}
}

.list-inline {
	@include list-inline;
}

.list-equal {
	@include list-unstyled;
	display: table;
	table-layout: fixed;
	width: 100%;

	> li {
		display: table-cell;
		text-align: center;
	}

	> li > a {
		display: block;
	}
}


// positioning
.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}


// media object
.media {
	margin-bottom: $spacing-base;
}

.media-left,
.media > .pull-left {
	padding-right: 1em;
}

.media-right,
.media > .pull-right {
	padding-left: 1em;
}

.media-left,
.media-right,
.media-body {
	display: table-cell;
	vertical-align: top;
}

.media-middle {
	vertical-align: middle;
}

.media-bottom {
	vertical-align: bottom;
}


// text helpers
.text-center {
	text-align: center;
}

.text-hide {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

.text-truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


// display and visibility helpers
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

.invisible {
	visibility: hidden !important;
}

.hidden {
	display: none !important;
}

@media print {
	.hidden-print {
		display: none !important;
	}
}
