html {
	box-sizing: border-box;
}

* {
	&,
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.gm-style img {
	max-width: none; // Remove max-width on Google Maps
}

.embed-responsive {
	overflow: hidden;
	position: relative;
	display: block;
	height: 0;
	padding-bottom: percentage(9 / 16);

	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
