body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
}

#{$headings} {
	margin-top: $headings-spacing * 2;
	margin-bottom: $headings-spacing;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;

	&:first-child {
		margin-top: 0;
	}
}

@include scale-headings;

small,
.small {
	font-size: 80%;
}

hr {
	border: 0;
	border-top: 1px solid lighten($text-color, 50%);
}

ul,
ol {
	padding-left: 2.5em;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}


// font antialiasing
@if $font-antialiased {
	html,
	button,
	input {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	// disable antialiasing on HiDPI screens
	@include hidpi {
		html,
		button,
		input {
			-webkit-font-smoothing: subpixel-antialiased;
			-moz-osx-font-smoothing: auto;
		}
	}
}
