// Global
$font-antialiased: false !default;
$font-size-base: 1rem !default;
$font-family-base: 'Helvetica Neue', Helvetica, sans-serif !default;
$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;
$global-bg: #fff !default;
$text-color: #333 !default;


// Spacing
$spacing-base: 1.5rem !default;
$spacing-reset: true !default;
$spacers: (
  nospace: 0,
  space: 30px
) !default;


// Headings
$headings: (
  'h6, .h6', 'h5, .h5', 'h4, .h4',
  'h3, .h3', 'h2, .h2', 'h1, .h1'
) !default;

$headings-spacing: 0.4em !default;
$headings-font-family: inherit !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$type-scale-base: $font-size-base !default;
$type-scale: 1.25 !default;


// Link
$link-color: #0283f1 !default;
$link-hover-color: $link-color !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;


// Breakpoints
$mq-breakpoints: (
  xs: 0px,
  sm: 375px,
  md: 680px,
  lg: 960px,
  xl: 1200px
) !default;

$fluid-breakpoints: (
  min: map-get($mq-breakpoints, sm),
  max: map-get($mq-breakpoints, xl)
) !default;

$mq-static-breakpoint: map-get($mq-breakpoints, xl) !default;


// Grid
$grid-columns: 12 !default;
$grid-gutter: 30px !default;
$grid-container: map-get($mq-breakpoints, xl) !default;
$grid-container-gutter: $grid-gutter !default;

$grid-pull-classes: true !default;
$grid-push-classes: true !default;
$grid-offset-classes: true !default;


// Embed Ratios
$embed-selector: '.embed-responsive' !default;
$embed-ratios: (
  base: 16 by 9
) !default;


// Forms
$input-selector: (
  '[type="email"]',
  '[type="number"]',
  '[type="password"]',
  '[type="search"]',
  '[type="tel"]',
  '[type="text"]',
  '[type="url"]',
  'textarea',
  'select'
) !default;

$input-height: 2.375em !default;
$input-padding-vertical: 0.375em !default;
$input-padding-horizontal: 0.75em !default;
$input-border-width: 1px !default;
$input-border-radius: 0.125em !default;
$input-transition: border-color 0.15s ease, box-shadow 0.15s ease !default;

$input-bg: #fff !default;
$input-color: $text-color !default;
$input-border-color: #b6b6b6 !default;
$input-box-shadow: none !default;
$input-focus-border-color: darken($input-border-color, 20%) !default;
$input-focus-box-shadow: none !default;
$input-disabled-bg: #eee !default;
$input-disabled-color: #555 !default;
$input-disabled-border-color: #ccc !default;

// Checkbox & Radio
$checkbox-border-width: $input-border-width !default;
$checkbox-border-radius: $input-border-radius !default;
$checkbox-top-offset: 0.25em !default;

$checkbox-bg: $input-bg !default;
$checkbox-border-color: $input-border-color !default;
$checkbox-box-shadow: $input-box-shadow !default;
$checkbox-focus-border-color: $input-focus-border-color !default;
$checkbox-focus-box-shadow: $input-focus-box-shadow !default;
$checkbox-active-filter: brightness(90%) !default;
$checkbox-disabled-bg: $input-disabled-bg !default;
$checkbox-disabled-color: $input-disabled-color !default;
$checkbox-disabled-border-color: $input-disabled-border-color !default;

// Placeholder
$placeholder-color: lighten($input-color, 50%) !default;


// Icons
$icon-color: #333 !default;

$icon-radio: '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="#{$icon-color}" d="M4 1C2.3 1 1 2.3 1 4s1.3 3 3 3 3-1.3 3-3S5.7 1 4 1z"/></svg>' !default;
$icon-checkbox: '<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="#{$icon-color}" d="M6.4 1L5.7 1.7 2.9 4.5 2.1 3.7 1.4 3 0 4.4l0.7 0.7 1.5 1.5 0.7 0.7 0.7-0.7 3.5-3.5 0.7-0.7L6.4 1 6.4 1z"/></svg>' !default;
$icon-select: '<svg xmlns="http://www.w3.org/2000/svg" height="8" width="12" viewBox="0 0 12 8"><path fill="#{$icon-color}" d="m1.41 0 4.59 4.58 4.59-4.58 1.41 1.41l-6 6-6-6z"/></svg>' !default;

$icons: (
  radio: $icon-radio,
  checkbox: $icon-checkbox,
  select: $icon-select
) !default;


// Button Base
$button-selector: '.btn' !default;
$button-padding-vertical: 0.375em !default;
$button-padding-horizontal: 1em !default;
$button-border-width: 1px !default;
$button-border-radius: 0.125em !default;
$button-transition:
  background-color 0.15s ease,
  color 0.15s ease,
  border-color 0.15s ease,
  box-shadow 0.15s ease !default;
$button-cursor-pointer: true !default;

// Button Variations
$button-variations: (
  base: (
    background-color: #0275d8,
    color: #fff,
    hover: (
      background-color: darken(#0275d8, 5%)
    ),
    focus: (
      background-color: darken(#0275d8, 10%)
    ),
    disabled: (
      opacity: 0.65
    )
  )
) !default;


// Table
$table-selector: '.table' !default;
$table-padding-vertical: 0.4em !default;
$table-padding-horizontal: 0.6em !default;
$table-border-color: #dedede !default;
$table-stripe-bg: #efefef !default;


// Meta
$meta-class-separator: '-' !default;
