// Colors
$token-colors: (
  blue: #0275d8,
  white: #fff,
  black: #000,
  gray-100: tint-color(#000, 90%),
  gray-200: tint-color(#000, 80%),
  gray-300: tint-color(#000, 70%),
  gray-400: tint-color(#000, 60%),
  gray-500: tint-color(#000, 50%),
  gray-600: tint-color(#000, 40%),
  gray-700: tint-color(#000, 30%),
  gray-800: tint-color(#000, 20%),
  gray-900: tint-color(#000, 10%),
) !default;

// Typography
$font-size-base: to-rem(16px) !default;
$font-family-base: 'Helvetica Neue', 'Helvetica', sans-serif !default;
$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;
$letter-spacing-base: normal !default;

$headings-font-family: inherit !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.2 !default;
$headings-letter-spacing: normal !default;

$token-type: (
  default: (
    font-family: $font-family-base,
    font-size: (
      min: $font-size-base,
    ),
    font-weight: $font-weight-base,
    line-height: $line-height-base,
    letter-spacing: $letter-spacing-base,
  ),
  headings: (
    font-family: $headings-font-family,
    font-weight: $headings-font-weight,
    line-height: $headings-line-height,
    letter-spacing: $headings-letter-spacing,
  ),
  small: (
    font-size: (
      min: $font-size-base * 0.8,
    ),
  ),
) !default;

// Spacings
$token-spacings: (
  default: 24px
) !default;
$token-spacings-default: default !default;

// Breakpoints
$mq-breakpoints: (
  xs: 0px,
  sm: 375px,
  md: 680px,
  lg: 960px,
  xl: 1200px,
) !default;

// Fluid Breakpoints
$fluid-breakpoints: (
  min: sm,
  max: xl,
) !default;

// Easings
$token-easings: (
  ease: ease,
  linear: linear /* color, opacity */,
  enter: ease-out /* visible at end */,
  move: ease-in-out /* always visible */,
  exit: ease-in /* visible at start */,
) !default;
$token-easings-default: ease !default;

// Durations
$token-durations: (
  150: 150ms,
) !default;
$token-durations-default: 150 !default;

// Aspect Ratios
$ratios: (
  widescreen: 16 by 9,
) !default;

// Layers
$layers: (
  below: -1,
  neutral: 0,
  above: 1,
) !default;
