.#{$meta-prefix-components}label-inline {
  margin-top: $input-border-width;
  padding-top: $input-padding-vertical;
}

.#{$meta-prefix-components}form-group {
  margin-bottom: $form-group-spacing;
}
