#{$input-selector} {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-vertical $input-padding-horizontal;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  background-clip: padding-box; // remove shadow in iOS
  background-color: $input-bg;
  color: $input-color;
  color-adjust: exact; // Keep custom styles for print
  transition: $input-transition;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
    outline: 0;
  }

  &:disabled {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    cursor: not-allowed;
  }
}
