.#{$meta-prefix-components}radio input[type='radio'],
.#{$meta-prefix-components}checkbox input[type='checkbox'] {
  &:not(:only-child) {
    opacity: 0;
  }

  ~ label {
    position: relative;
    padding-left: 1.4em;
    line-height: 1.5;
  }

  ~ label::before,
  ~ label::after {
    content: '';
    position: absolute;
    top: $selection-top-offset;
    left: 0;
    width: 1em;
    height: 1em;
    color-adjust: exact; // Keep custom styles for print
  }

  ~ label::before {
    border: $selection-border-width solid $selection-border-color;
    background-color: $selection-bg;
    box-shadow: $selection-box-shadow;
  }

  ~ label::after {
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transform: scale(0);
    transition: $selection-transition;
  }

  &:disabled ~ label::before {
    background-color: $selection-disabled-bg;
    border-color: $selection-disabled-border-color;
  }

  &:focus ~ label::before {
    border-color: $selection-focus-border-color;
    box-shadow: $selection-focus-box-shadow;
  }

  &:checked ~ label::before {
    border-color: $selection-checked-border-color;
    background-color: $selection-checked-bg;
  }

  &:checked ~ label::after {
    opacity: 1;
    transform: none;
  }

  &:active:not(:disabled) ~ label::before {
    filter: $selection-active-filter;
  }
}

.#{$meta-prefix-components}radio input[type='radio'] {
  ~ label::before {
    border-radius: 50%;
  }

  &:checked ~ label::after {
    background-image: url(get-icon('radio', $selection-icon-color));
  }
}

.#{$meta-prefix-components}checkbox input[type='checkbox'] {
  ~ label::before {
    border-radius: $checkbox-border-radius;
  }

  &:checked ~ label::after {
    background-image: url(get-icon('checkbox', $selection-icon-color));
  }
}
