#{$input-selector} {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-vertical $input-padding-horizontal;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  background-clip: padding-box; // remove shadow in iOS
  background-color: $input-bg;
  color: $input-color;
  color-adjust: exact; // Keep custom styles for print
  transition: $input-transition;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
    outline: 0;
  }

  &:disabled {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    cursor: not-allowed;
  }
}

@supports (appearance: none) {
  select:not([multiple]) {
    appearance: none;
    padding-right: 2em;
    background-repeat: no-repeat;
    background-position: right $input-padding-horizontal center;
    background-image: url(get-icon('select', $select-icon-color));
  }
}

input[type='color'] {
  max-width: 2.75rem;
  padding: $input-padding-vertical;
}

// Fix date input height in Safari
input[type='date'] {
  display: flex;
}

// Fix appearance for date inputs in Safari
input[type='date'],
input[type='month'] {
  -webkit-appearance: none;
}

input[type='file'] {
  display: block;
  max-width: 100%;
}

select {
  &[multiple],
  &[size] {
    height: auto;
  }
}

textarea {
  height: $input-height * 2;

  &[rows] {
    height: auto;
  }
}

// Remove inner padding from color pickers
::-webkit-color-swatch-wrapper {
  padding: 0;
}

::placeholder {
  color: $placeholder-color;
}
