a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: $link-transition;

  &:hover {
    text-decoration: $link-hover-decoration;
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }

  &:focus {
    color: $link-focus-color;
  }
}
