[type='radio'],
[type='checkbox'] {
  &:not(:only-child) {
    position: absolute;
    margin-top: 0.35em;
  }

  ~ label {
    margin-bottom: 0;
    padding-left: 20px;
    font-weight: inherit;
  }

  &:disabled ~ label {
    color: $selection-disabled-color;
    cursor: not-allowed;
  }
}
