*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@if $font-antialiased {
  html,
  button,
  input {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

body {
  @include type;

  background-color: $global-bg;
  color: $text-color;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

canvas,
img,
video {
  max-width: 100%;
  height: auto;
}

audio {
  max-width: 100%;
}

blockquote,
dd,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: 0;
}

address {
  font-style: inherit;
}

pre {
  overflow: auto;
}

hr {
  border: 0;
  border-top: 1px solid;
  color: inherit;
  opacity: $hr-opacity;
}

:focus:not(:focus-visible) {
  outline: none;
}
