#{$headings} {
  margin-top: calc(var(--headings-spacing) * 2);
  margin-bottom: var(--headings-spacing);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);

  &:first-child {
    margin-top: 0;
  }
}

@include scale-headings;
