blockquote,
figure,
fieldset {
  margin: 0;
}

address,
blockquote,
table,
figure,
form,
fieldset,
legend,
pre,
dl,
ul,
ol,
hr,
p {
  @include spacing('margin-bottom');

  margin-top: 0;

  @if $spacing-reset {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
