// clearfix
@mixin clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}


// lists
@mixin list-unstyled {
	padding-left: 0;
	list-style: none;
}

@mixin list-inline($spacing: 1em) {
	@include list-unstyled;
	@include clearfix;
	margin-left: -$spacing;

	> li {
		float: left;
		margin-left: $spacing;
	}

	> li > a {
		display: block;
	}
}

@mixin list-equal {
	@include list-unstyled;
	display: table;
	table-layout: fixed;
	width: 100%;

	> li {
		display: table-cell;
		text-align: center;
	}

	> li > a {
		display: block;
	}
}


// text helpers
@mixin text-hide {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin text-truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


// visibility helpers
@mixin sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@mixin sr-only-focusable {
	&:active,
	&:focus {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}


// triangle mixin from bourbon
@mixin triangle($size, $color, $direction) {
	$width: nth($size, 1);
	$height: nth($size, length($size));
	$foreground-color: nth($color, 1);
	$background-color: if(length($color) == 2, nth($color, 2), transparent);

	height: 0;
	width: 0;

	@if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
		$width: $width / 2;
		$height: if(length($size) > 1, $height, $height / 2);

		@if $direction == up {
			border-bottom: $height solid $foreground-color;
			border-left: $width solid $background-color;
			border-right: $width solid $background-color;
		} @else if $direction == right {
			border-bottom: $width solid $background-color;
			border-left: $height solid $foreground-color;
			border-top: $width solid $background-color;
		} @else if $direction == down {
			border-left: $width solid $background-color;
			border-right: $width solid $background-color;
			border-top: $height solid $foreground-color;
		} @else if $direction == left {
			border-bottom: $width solid $background-color;
			border-right: $height solid $foreground-color;
			border-top: $width solid $background-color;
		}
	} @else if ($direction == up-right) or ($direction == up-left) {
		border-top: $height solid $foreground-color;

		@if $direction == up-right {
			border-left: $width solid $background-color;
		} @else if $direction == up-left {
			border-right: $width solid $background-color;
		}
	} @else if ($direction == down-right) or ($direction == down-left) {
		border-bottom: $height solid $foreground-color;

		@if $direction == down-right {
			border-left: $width solid $background-color;
		} @else if $direction == down-left {
			border-right: $width solid $background-color;
		}
	}
}


// beautiful underline
@mixin underline($color: currentColor, $distance: 100%, $size: 1px) {
	text-decoration: none;
	background-repeat: repeat-x;
	background-position: 0 $distance;
	background-size: 1px $size;
	background-image: linear-gradient(to bottom, $color 50%, $color 50%);
}


// target HiDPI screens
@mixin hidpi($ratio: 1.5) {
	@media (min-resolution: round($ratio * 96dpi)), (min-resolution: $ratio * 1dppx) {
		@content;
	}
}
