// Font settings
$font-size-base: 1em !default;
$font-family-base: 'Helvetica Neue', Helvetica, sans-serif !default;
$line-height-base: 1.5 !default;
$spacing-base: 1.5em !default;

$type-scale-base: $font-size-base !default;
$type-scale: 1.333 !default; // Perfect Fourth, see: http://type-scale.com/

$font-size-h1: modular-scale(4) !default;
$font-size-h2: modular-scale(3) !default;
$font-size-h3: modular-scale(2) !default;
$font-size-h4: modular-scale(1) !default;
$font-size-h5: modular-scale(0) !default;
$font-size-h6: modular-scale(-1) !default;
$font-size-sm: modular-scale(-1) !default;

$headings-font-family: inherit !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$font-antialiased: true !default;


// Base colors and links
$text-color: #333 !default;
$link-color: #448aff !default;
$link-hover-color: $link-color !default;
$link-hover-decoration: underline !default;


// Buttons
$button-padding-vertical: 0.375em !default;
$button-padding-horizontal: 1em !default;
$button-border-radius: 0 !default;

$button-bg: #448aff !default;
$button-hover-bg: darken($button-bg, 5%) !default;
$button-active-bg: $button-hover-bg !default;
$button-color: #fff !default;
$button-hover-color: #fff !default;
$button-active-color: #fff !default;
$button-border-color: transparent !default;

$buttons-list: '.btn' !default;


// Forms
$use-custom-forms: true !default;

$input-height: 2.375em !default;
$input-padding-vertical: 0.375em !default;
$input-padding-horizontal: 0.75em !default;

$input-bg: #fff !default;
$input-color: $text-color !default;
$input-border-color: #b6b6b6 !default;
$input-focus-border-color: darken($input-border-color, 20%) !default;
$input-border-radius: 0 !default;

$input-disabled-bg: #eee !default;
$input-disabled-color: #555 !default;
$input-disabled-border-color: #ccc !default;

$placeholder-color: lighten($input-color, 50%) !default;

$inputs-list:
	'input[type="email"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="url"]',
	'textarea',
	'select' !default;


// Tables
$table-padding-vertical: 0.6em !default;
$table-padding-horizontal: 0.4em !default;
$table-border-color: #b6b6b6 !default;


// Grid settings
$grid-columns-output: true !default;
$grid-columns: 12 !default;
$grid-gutter: 30px !default;

// Breakpoints
$mq-breakpoints: (
	xs: 480px,
	sm: 768px,
	md: 992px,
	lg: 1200px
) !default;

$mq-breakpoints-list: to-list($mq-breakpoints, 'keys');
$mq-static-breakpoint: nth($mq-breakpoints-list, length($mq-breakpoints-list));
