label {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.label-inline {
  margin-top: $input-border-width;
  padding-top: $input-padding-vertical;
}

.form-group {
  margin-bottom: 1rem;
}

#{$input-selector} {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-vertical $input-padding-horizontal;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  background-clip: padding-box; // remove shadow in iOS
  background-color: $input-bg;
  color: $input-color;
  color-adjust: exact; // Keep custom styles for print
  transition: $input-transition;

  &:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
    outline: 0;
  }

  &:disabled {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    cursor: not-allowed;
  }
}

select {
  &[multiple],
  &[size] {
    height: auto;
  }
}

textarea {
  &[rows] {
    height: auto;
  }

  &:not([rows]) {
    height: $input-height * 2;
  }
}

input[type="radio"],
input[type="checkbox"] {
  &:not(:only-child) {
    position: absolute;
    margin-top: 0.35em;
  }

  ~ label {
    margin-bottom: 0;
    padding-left: 20px;
    font-weight: inherit;
  }

  &:disabled ~ label {
    color: $checkbox-disabled-color;
    cursor: not-allowed;
  }
}

input[type="file"] {
  display: block;
  max-width: 100%;
}
