label {
  display: inline-block;
  margin-bottom: 0.3rem;
}

.label-inline {
  margin-top: 1px;
  padding-top: var(--input-padding-vertical);
}

.form-group {
  margin-bottom: 1rem;
}

#{$input-selector} {
  display: block;
  width: 100%;
  height: var(--input-height);
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  background-clip: padding-box; // remove shadow in iOS
  background-color: var(--input-bg);
  color: var(--input-color);
  transition: var(--input-transition);

  &:focus {
    border-color: var(--input-focus-border-color);
    outline: 0;
  }

  &:disabled {
    border-color: var(--input-disabled-border-color);
    background-color: var(--input-disabled-bg);
    color: var(--input-disabled-color);
    cursor: not-allowed;
  }
}

select {
  overflow-x: hidden;

  &:focus::-ms-value {
    background: transparent;
    color: currentColor;
  }

  &[multiple],
  &[size] {
    height: auto;
  }
}

textarea {
  resize: vertical;

  &[rows] {
    height: auto;
  }

  &:not([rows]) {
    height: calc(var(--input-height) * 2);
  }
}

input[type="radio"],
input[type="checkbox"] {
  &:not(:only-child) {
    position: absolute;
    margin-top: 0.35em;
  }

  ~ label {
    margin-bottom: 0;
    padding-left: 20px;
    font-weight: inherit;
  }

  &:disabled ~ label {
    color: var(--input-disabled-color);
    cursor: not-allowed;
  }
}

input[type="file"] {
  display: block;
  max-width: 100%;
}

::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
