.#{$meta-prefix-utilities}invisible {
  visibility: hidden !important;
}

.#{$meta-prefix-utilities}hidden {
  display: none !important;
}

@media print {
  .#{$meta-prefix-utilities}hidden-print {
    display: none !important;
  }
}

@include loop-breakpoints($mq: false) {
  .#{$meta-prefix-utilities}visible-#{$breakpoint} {
    display: none !important;
  }

  @if (not(is-first-breakpoint($breakpoint) or is-last-breakpoint($breakpoint))) {
    .#{$meta-prefix-utilities}visible-#{$breakpoint}-up {
      display: none !important;
    }
  }
}

@include loop-breakpoints($inclusive: false) {
  .#{$meta-prefix-utilities}hidden-#{$breakpoint} {
    display: none !important;
  }

  .#{$meta-prefix-utilities}visible-#{$breakpoint} {
    display: block !important;
  }
}

@include loop-breakpoints {
  @if (not(is-first-breakpoint($breakpoint) or is-last-breakpoint($breakpoint))) {
    .#{$meta-prefix-utilities}hidden-#{$breakpoint}-up {
      display: none !important;
    }

    .#{$meta-prefix-utilities}visible-#{$breakpoint}-up {
      display: block !important;
    }
  }
}
