.container--narrow {
  max-width: 55rem;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section--intro {
  text-align: center;
  border-bottom: 1px solid #cae6ff;
  background-color: #e3f2ff;
}

.intro__title {
  font-family: Georgia, serif;
  font-weight: 900;
  font-size: 2.2em;
  color: #243a54;
}

.wf-active .intro__title {
  font-family: Merriweather, Georgia, serif;
}

.intro__text {
  margin-bottom: 2em;
}

.title-uppercase {
  margin-top: 1.2em;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn--outline {
  border-color: #0275d8;
  background-color: transparent;
  color: #0275d8;
}

.btn--outline:hover,
.btn--outline:focus {
  border-color: #025aa5;
  background-color: #025aa5;
}

.form-group > .btn {
  margin-bottom: 0.2em;
}

.btn-group > .btn {
  margin-left: 0.15em;
  margin-right: 0.15em;
}

.media p:last-child {
  margin-bottom: 0;
}

.col__item {
  margin-bottom: 1.875rem;
  padding: 1em;
  font-size: 0.8em;
  background: #efefef;
}

.footer {
  margin-top: 3rem;
}

@media (min-width: 48em) {
  .section--intro {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .intro {
    font-size: 1.2rem;
  }

  .intro__title {
    font-size: 2.5em;
  }
}
