body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-color: $global-bg;
  color: $text-color;
}

@if $font-antialiased {
  html,
  button,
  input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // disable antialiasing on HiDPI screens
  @include hidpi {
    html,
    button,
    input {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
    }
  }
}
